# LaTeX temporary files
*.aux
*.log
*.toc
*.lof
*.lot
*.out
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.synctex.gz
*.synctex.gz(busy)
*.nav
*.snm
*.vrb
*.run.xml
*.bcf
*.xdv
*.thm
*.brf
*.listing
*.lol
*.hd
*.out
*.idx
*.glo
*.tcbtemp




